<h1>Person Information</h1>

<div class="product-feature">
  <p>
    <strong>Username </strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>E-Mail </strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Age </strong>
    <%= @user.age %>
  </p>

  <p>
    <strong>City </strong>
    <%= @user.city %>
  </p>

</div>

<h1><%= @user.username %>'s Products</h1>

<div class="product-feature">
  <ul>
    <% @user.products.each do |product| %>
        <li>
          <p><%= link_to product.title, product_path(product) %></p>
        </li>
    <% end %>
  </ul>
<br>
  <p><%= link_to "Back to users list", users_path %></p>

</div>

