<h1>Edit Product</h1>

<%= render "form" %>

<!--
<div class="product-form">
  <%= form_for :product, url: product_path(@product), method: :patch do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control" %>
        </p>
      </div>

      <div class="form-group">
        <p>
          <%= f.label :description %><br>
          <%= f.text_area :description, class: "form-control" %>
        </p>
      </div>
      <div class="form-group">
        <p>
          <%= f.label :price %><br>
          <%= f.text_field :price, class: "form-control" %>
        </p>
      </div>
      <p>
        <%= f.submit class: "btn btn-default" %>
      </p>
  <% end %>

</div>

-->